@charset "utf-8";

.container {
  width: 1500px;
  height: 200px;
  background-color: #3E3A37 ;
  margin: -8px;
  padding: -8px;
  position: absolute;
}

.container-img {
  display: inline;
  float: left;
  margin: 20px;

}

.myfacepic {
  border-radius: 50%;
}

.container-document {
  color: white;
  display: inline;
}

/*.container-document p{
  color: white;
}*/

.container ul li {
  width: 16%;
  height: 180px;
  float: left;
  list-style: none;
  background-color: #3E3A37 ;
  box-sizing: border-box;
}

.container ul li h2{
  color: white;
}

.container ul li p{
  color: white;
}

.container ul li i{
  color: white;
}

.container-document i{
  color: white;
}

.main h2{
  position: absolute;
  margin-top: 220px;
  margin-left: 20px;
}

.main h4{
  position: absolute;
  margin-top: 250px;
  margin-left: 30px;
}
